<div class="header" >
    <h1>Kavi Pal</h1>
  </div>
  <div class="sidenav">
      <a [routerLink]="'ContactComponent'"><i>Contact List<img src="./../assets/phone.png" style="padding-left: 14px;
        height: 30px;
        width: 30px;"/></i></a>
        <hr>
      <a [routerLink]="'HistoryComponent'"><i>Sent<img src="./../assets/clock.png" style="padding-left: 14px;
        height: 30px;
        width: 30px;"/></i></a><hr>
    </div>
<div name="body" class="main">
<router-outlet></router-outlet>
</div>
